/*
.contact-form{
    font-size: 25px;

}

.contact-form__h2{
    font-family: 'Shadows Into Light', cursive;
    color: seagreen;
    text-align: center;
}
*{
    font-family:'Shadows Into Light', cursive;
    font-weight: 100;
}
h2 {
    background-color: seagreen;
    display: inline-block;
    padding: 100px;
    box-sizing: border-box;
    text-align: center;
    margin: 10px;
    border-radius: 5em;
    border:10px solid black;
    box-shadow: 30px 20px 30px 10px rgb(193, 201, 91);
    text-shadow: 2px 2px 7px blue;

}

.caja2{
    width: 200px;
    height: 200px;
    background-color: yellow;
    margin: auto;
    .caja1{
    background: darkorchid;
}
.caja2{
    background-color: darkslateblue;
}
.caja3{
    background-color: dodgerblue;
}
.caja4{
    background-color: crimson;
}
.contenedor{
    width: 300px;
    height: 300px;
    background-color: darkblue;
    margin: 40px;
    position: relative;
    z-index: 100px;

}

.hijo{
    background-color: chocolate;
    height: 120px;
    width: 120px;
    position: relative;
    top: -20px;
    left: -20px;
    z-index: -1;
}
.caja1{
    background-color: red ;
}
.caja2{

    background-color: yellow;
   
}
.caja3{
    background-color: dodgerblue;
}
.caja4{
    background-color: crimson;
}



b{
    width: 200px;
    height: 150px;
    margin: 20px;
    border:10px solid red;
    background: darkgoldenrod;
    height: 400px;
    width: 400px;
    display: inline-block;
}
div{
    margin: auto;
    margin-top: 50px;
    width: 320px;
    height: 350px;
    border:4px solid crimson;
    background-color: rgb(205, 168, 230);

}

.cont{
    margin: auto;
    margin-top: 50px;
    width: 320px;
    height: 350px;
    border:4px solid crimson;
    background: rgb(205, 168, 230);
    overflow: hidden;
}

.cont img{
    width: 1000px;
    position: relative;
    top: 260px;
    left: 240px;
    outline: 2px solid teal;

}

.contenedor div{
    display: inline-block;
    width: 45%;
}

.primario{
    background: crimson;
}

.secundario{
    background: goldenrod;
}
//////////////////////////////////////////////////////////*{
    font-family:'Shadows Into Light', cursive;
    font-weight: 100;
    font-size: 30px;
}




.cont{
    margin: auto;
    margin-top: 50px;
    border: 4px solid crimson;
    background: darkmagenta;
    width: 50%;
    padding: 20px;

}
.cont img{
    float: left;
    width: 300px;
    height: 400px;
    margin-right: 15px ;
    border:4px solid black;

} 
//////////////////////////////////////////
.texto{
    padding: 20px;
}
.texto::first-line{
    color: blueviolet;
}


//////////////selection////////////
form{
    margin: 100px auto;
    display: block;
    background-color: crimson;
    padding: 100px;
    width: 50%;

}
p{
    padding: 6px;
    width: 100%;
}
p::selection{
    color: chartreuse;
    background-color: black;
}
-------------Before y After-------------
form{
    margin: 100px auto;
    display: block;
    background-color: crimson;
    padding: 100px;
    width: 50%;
    text-align: center;

}
b{
    padding: 6px;
    width: 100%;
}
b::before{

    content: " me suscribi  ";
    color: aliceblue;
}
b::after{
    content: "ventaneando";
    color: coral;

}
----------------ejemplo hover w3----------
.hide {
    display: none;

  }
  .myDIV:hover + .hide{
    width: 400px;
    height: 400px;
    display: block;
    color: red;
    background-color: blueviolet;
    background-image: url("https://i1.wp.com/elpalomitron.com/wp-content/uploads/2020/07/anime-Ijiranaide-Nagatoro-san-destacada-El-Palomitr%C3%B3n.jpg?resize=1200%2C600&ssl=1");
  }
-----------------explicación hover------------------
.caja1{
    width: 200px;
    height: 200px;
    background: crimson;
    transition: width 2s, height 4s, background 2s ;
}
.caja1:hover{
    width: 300px;
    height: 300px;
    background: blue;
    
}
-----------------------ejemplo link y visited --------------
.caja1:link{
color: crimson;
}
.caja1:visited{
    color: chocolate;
}
-------------------explicación active------------------------
.caja1{
width: 300px;
height: 300px;
background: crimson;
margin: 25px;
}

.caja1:active{
    background: teal;
    transition: 2s;
}


-----------------------------------------------------
-------------------------explicacion focus---------
.caja1{
width: 300px;
height: 300px;
background: crimson;
margin: 25px;
}

.caja1:focus{
    background: teal;
    transition: 2s;
    width: 600px;
    height: 400px;
}
-----------------------------------------------------
------------------------explicación lang------------------
.caja1{

margin: 25px;
}

.caja1 b:lang(es){
    background-color: tomato;
    padding: 20;

}
.caja1 b:lang(jp){
    background-color: violet;
    padding: 20;


}
--------------------------------------
------------------object fit contain-------
.caja1{

margin: 25px;
width: 500px;
height: 600px;
}

.caja1 img{
    width: 100%;
    height: 100%;
    border: teal 5px solid;
    object-fit: contain;
}


-----------------------------------
------------object-fit:cover-----------------------
.caja1{

margin: 25px;
width: 360px;
height: 600px;
}

.caja1 img{
    width: 100%;
    height: 100%;
    border: teal 5px solid;
    object-fit: cover;
}
----------------------------------------------------
------------------------media querty----------------
div{
    width: 49%;
    display: inline-block;
    padding: 20px;
    background-color: #ddd;
}
h1{
    font-size: 24px;
}

.caja2{
    background: #bbb;
}

@media only screen and (max-width: 800px) {
    div{
        display: block;
        width: 100%;
    }
    h1{
        font-size: 20px;
    }
    

    
}
------------------------------------------------------------
-----------------------------------------------------Practica menu responsive sin JS----------------------------------------------------------------------------
*{
    font-family:'Shadows Into Light', cursive;
    font-weight: 100;
    font-size: 30px;
}
.nav__responsive-ul{
    display: none;

}

.nav{
    background-color: rgb(1, 155, 245);
}
.nav__li{
    display: inline-block;
    padding: 9px;
    color: crimson;
}
.nav__li:hover > a{
    color: darkmagenta;
}
.nav__li:hover{
    color: darkmagenta;
}
.nav__li a{
    color: crimson;
    text-decoration: none;
}

.nav__li i{
    box-sizing: border-box;
    text-align: right;
    margin-right: 5px;
    
}

.nav__responsive-button-container{
position: absolute;
width: 100%;
font-size: 25px;
background-color: darkcyan;
margin-top: -64px; 
z-index:100 ;

}
.nav__responsive-button{
    padding: 6px 20px;
    text-align: right;
    width: 100%;
}


@media only screen and  (max-width:610px){
    .nav__ul{
        display: none;
    }
    .nav{
        height: 37px;
        width: 100%;
    }
    .nav__responsive-ul{
        display: block;
        position: absolute;
        width: 100%;
        margin-top: 37px;
        padding-top: 27px;
        height: 37px;
}
.nav__li-container{
    position: relative;
    top: -1000px;
    height: calc(100vh - 64px);
    background-color: cornflowerblue;
    transition: all 1s;
    z-index: 1;
    width: 75%;
    padding-top: 27px;
}
.nav__responsive-li{
    width: 100%;
    padding: 9px 20px;
}

.nav__responsive-li i{
    box-sizing: border-box;
    text-align: center;
    margin-right: 5px;
    width: 30px;
    color: #016;

}
.nav__responsive-li a{
    color: #016 ;
    text-decoration:none;
    
}
.nav__responsive-ul:hover > .nav__li-container{
    top: -27px;


    }


}
---------------------------------ejemplo basico de flex----------------------
*{
    font-family:'Shadows Into Light', cursive;
    font-weight: 100;
    font-size: 30px;
}
.flex-container{
display: flex;
}

.flex-item{
    background-color: teal;
    color: #fff;
    padding: 10px;
    margin: 10px;
}


--------------------------------------------------------------------------------
---------------------------------practica con los items de flex.----------------------------------------------
es más teoría que práctica para esto 
{
    font-family:'Shadows Into Light', cursive;
    font-weight: 100;
    font-size: 30px;
}
.flex-container{
display: flex;
justify-content: space-evenly;
height: 100vh;
}

.flex-item{
    background-color: teal;
    color: #fff;
    margin: 5px;
    min-width: 120px;
    text-align: center;
    height: 100px;
}
.crim{
    background-color: crimson;
}
.gre{
    background-color: darkgreen;
    align-self: flex-end;
}
---------------------------------------------------------------------------------------------
--------------------------------------------practica formulario con css para parte de flex----------------------------------
*{
    font-family:'Shadows Into Light';
    font-weight: 100;
}
.flex__container{
display: flex;
align-items: center;
flex-wrap: wrap;
justify-content: center;
background: #333;
margin: 50px 50px;
padding: 20px;
border: 20px solid #000;
outline: 4px solid #05d;

}

body{
    background-color: black;
}
.form{
    min-width: 400px;
    flex: 1 ;
    text-align: center;
    padding: 30px;
    order: 5;
}
.form__input{
    width: 100%;
    padding: 7px;
    margin: 6px 0;
    border: none;
    border-bottom: 3px solid #05d;
    background: transparent;
    color: #fff;
    order: 2;

}
.form__input:focus{
    background: linear-gradient(to bottom, transparent, #111);
    outline: none;
    border-bottom: 3px solid crimson;
}

.form textarea{
    min-height: 140px;
    resize: none;
}
.form-imagen{
    flex: 1;
    display: flex;
    padding: 10px;
    min-width: 300px;
    max-width: 400px;
    order: 2;
    
}
.form-imagen div{
    padding: 10px;
    border-radius: 50%;  
}

.img-container{
    padding: 20px;
    margin: auto;
    
    
}
.img-container div{
    background-color: #fff;
    text-align: center;
    padding: 40px;

}

.form-imagen img{
    width: 90%;
    margin: auto;


    

}
.form input[type="submit"]{
    background-color:#05d ;
    border-bottom: none;
    padding: 12px;
}
.form input[type="submit"]:hover{
    background-color:rgb(5, 172, 172) ;
    border-bottom: none;
    padding: 12px;
}

.form input[type="submit"]:focus{
    background:rgb(12, 65, 151) ;
}
.form input[type="submit"]:active{
    background: linear-gradient(to bottom, rgb(3, 66, 161),#05d);
}

-------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------GRID------------------------------------------------------------------------------------
*/
*{
    font-family:'Shadows Into Light';
    font-weight: 100;
    color: #fff;
    font-size: 30px;
}

body{
    background: radial-gradient(circle,#fff,#bbb);
    padding: 15px;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(5, 100px) 1fr ;
    grid-template-rows: repeat(3,150px);
    border: 3px solid crimson;
    background-color: #333;
}
.grid-item{
    border:1px solid #000;
    background-color: #999;
}













