/*
.contact-form{
    font-size: 25px;

}

.contact-form__h2{
    font-family: 'Shadows Into Light', cursive;
    color: seagreen;
    text-align: center;
}
*{
    font-family:'Shadows Into Light', cursive;
    font-weight: 100;
}
h2 {
    background-color: seagreen;
    display: inline-block;
    padding: 100px;
    box-sizing: border-box;
    text-align: center;
    margin: 10px;
    border-radius: 5em;
    border:10px solid black;
    box-shadow: 30px 20px 30px 10px rgb(193, 201, 91);
    text-shadow: 2px 2px 7px blue;

}
.caja1{
    width: 200px;
    height: 200px;
    background-color: red ;
    margin: auto;
    outline: 10px solid blue;


}

.caja2{
    width: 200px;
    height: 200px;
    background-color: yellow;
    margin: auto;

*/
*{
    font-family:'Shadows Into Light', cursive;
    font-weight: 100;
    font-size: 30px;
}



div{
    width: 120px;
    height: 120px;
    display: block;
    background: darkgoldenrod;
}

.caja1{
    background: darkorchid;
}
.caja2{
    background-color: darkslateblue;
}
.caja3{
    background-color: dodgerblue;
}
.caja4{
    background-color: crimson;
}




